.button {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  width: 150px;
  display: inline-block;
  background: #4985ff;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  padding: 13px 36px 15px 36px;
  cursor: pointer;
}
.button-icon {
  position: absolute;
  content: "";
  top: 18px;
  right: 28px;
  cursor: pointer;
}
